<section class="container">
    <div class="row coluna-want-to-be-part h-100">
        <div class="col-lg-6 py-5 mt-5 d-flex flex-column justify-content-center">
            <h2>Você só paga pelo serviço depois que seu imóvel for alugado ou vendido</h2>
            <p>Proin ut nunc dignissim, aliquam diam nec, sollicitudin lorem. Aenean volutpat velit at nibh elementum
                mattis. Fusce ut mi in odio sodales pulvinar nec sit amet elit. Mauris pellentesque, sapien id viverra
                imperdiet, mi lectus cursus nibh, ut semper mauris sapien tempus nibh.</p>
        </div>
        <div class="col-lg-6 px-lg-5">
            <div class="bg-payment-detail"></div>
        </div>
    </div>
</section>