<section class=" row-process-sub my-5">
    <div class="row h-100">
        <div class="col-lg-6 px-5 d-flex flex-column justify-content-center">
            <h2 class="font-size-44 text-light">O processo de vistoria totalmente adaptado ao seu jeito</h2>
            <p class="pr-5 text-light text-justify">
                Liberdade é a palavra de ordem. Aqui você é dono da sua própria rotina. Organize seus horários conforme a sua disponibilidade, tudo simples e rápido, pelo nosso app.           </p>
            <button class="btn btn-process-sub my-5" onclick="window.location='#scrollTContact'">Quero ser um vistoriador imoveistock</button>
        </div>
        <div class="col-lg-6 col-process-sub pr-0">
            <div class="bg-process-sub w-100"></div>
        </div>
    </div>
</section>
