<section class="container-fluid position-relative">
    <div class="row coluna-want-to-be-part">
        <div class="col-lg-7 d-flex flex-column pl-lg-5 bg-purple-want-to-be-part justify-content-center">
            <h2 class="text-white pt-lg-0 pt-5 mt-lg-0 mt-5">Mais do que um grupo, somos um movimento que pretende unir todos os porteiros do
                Brasil. </h2>
            <p class="pr-lg-5 text-white mt-4">Proin ut nunc dignissim, aliquam diam nec, sollicitudin lorem. Aenean
                volutpat velit at
                nibh elementum mattis. Fusce ut mi in odio sodales pulvinar nec sit amet elit. Mauris pellentesque,
                sapien id viverra imperdiet, mi lectus cursus nibh, ut semper mauris sapien tempus nibh.
            </p>

            <button class="btn btn-want-to-be-part my-5">Quero fazer parte</button>
        </div>

        <div class="col-lg-5 px-0">
            <div class="bg-indicate-desktop"></div>
            <div class="bg-indicate-mobile"></div>
            <div class="agregate-images-want-to-be-part">
                <div class="img-agregate-1 img-fluid"></div>
                <div class="img-agregate-2 img-fluid"></div>
                <div class="img-agregate-3 img-fluid"></div>
            </div>
        </div>


    </div>
</section>