<section class="container-fluid position-relative">
    <div class="row coluna-want-to-be-part">
        <div class="col-lg-6 d-flex flex-column pl-lg-5 bg-purple-want-to-be-part justify-content-center">

        </div>

        <div class="col-lg-6 px-0">
            <h2 class="text-dark pt-lg-0 pt-5 mt-lg-0 mt-5">
                Veja como funciona para se tornar um vistoriador parceiro
            </h2>
            <p class="pr-lg-5 text-dark mt-4">
                Realize vistorias pelo celular. Visualize sua agenda pelo aplicativo e defina sua rota diária. Quanto mais vistorias realizar, maior será a sua renda
            </p>

            <button class="btn btn-see-surveyor-desktop my-5">Quero ser um vistoriador Imoveistock</button>
           
        </div>


    </div>
</section>