<section class="container-fluid bg-about">
    <div class="row margin-about-component h-100 scrollToAbout">
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="card-left-about">
                <img src="../../../assets/image/img-about-left.svg" class="img-fluid img-aboute-mobile">
                <h2 style="font-weight: 400;">Abrindo novas portas no mercado imobiliário</h2>
                <p class="mt-3 pt-3">Proin ut nunc dignissim, aliquam diam nec, sollicitudin lorem. Aenean volutpat
                    velit at nibh elementum mattis. Fusce ut mi in odio sodales pulvinar nec sit amet elit.</p>
                <img src="../../../assets/image/img-about-left.svg" class="img-fluid img-aboute-desktop">
            </div>
        </div>
        <div class="col-lg-6 pt-lg-5 pt-3">
            <div class="d-flex">
                <img src="../../../assets/icons/user-purple.svg" class="icon-aboute-right">
                <div class="d-flex flex-column ml-4 mt-4">
                    <h4 class="font-weight-bold">Inovação & Qualidade</h4>
                    <p class="mb-0">Proin ut nunc dignissim, aliquam diam nec, sollicitudin lorem.</p>

                </div>
            </div>
            <hr class="mt-lg-5">
            <div class="d-flex">
                <img src="../../../assets/icons/transfer-purple.svg" class="icon-aboute-right">
                <div class="d-flex flex-column ml-4 mt-4">
                    <h4 class="font-weight-bold">Transparência</h4>
                    <p class="mb-0">Proin ut nunc dignissim, aliquam diam nec, sollicitudin lorem.</p>

                </div>
            </div>
            <hr class="mt-lg-5">
            <div class="d-flex">
                <img src="../../../assets/icons/home-purple.svg" class="icon-aboute-right">
                <div class="d-flex flex-column ml-4 mt-4">
                    <h4 class="font-weight-bold">Cuidado com o cliente</h4>
                    <p class="mb-0">Proin ut nunc dignissim, aliquam diam nec, sollicitudin lorem.</p>

                </div>
            </div>
        </div>
    </div>
</section>