<section class="container-fluid scrollIndicate">
    <div class="row justify-content-center">
        <div class="col-12 px-0 bg-indicate-now"></div>
        <div class="col-md-8 py-5">
            <div class="row">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <h4>Tem um imóvel para indicar?</h4>
                    <p class="mb-0">Acesse nossa plataforma de indicação e comece a ganhar dinheiro.</p>
                </div>
                <div class="col-md-6 mt-5 mt-lg-0 d-flex align-items-center justify-content-end btn-locale-indicate-now">
                    <button class="btn btn-indique-agora">Indique agora</button>
                </div>
            </div>
        </div>
    </div>
</section>