<section class="container-fluid bg-about">
    <div class="row margin-about-component h-100 scrollToAbout">
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="card-left-about">
                <img src="../../../assets/image/partner-imoveistock.png"
                    class="img-fluid img-partner-mobile">
                <img src="../../../assets/image/partner-imoveistock.png"
                    class="img-fluid img-partner-desktop">
            </div>
        </div>
        <div class="col-lg-6 pt-lg-5 pt-3">
            <div class="d-flex">
                <div class="d-flex flex-column ml-4 mt-4">
                    <h2 class="font-weight-bold">
                        Por que ser um Vistoriador Parceiro na Imoveistock?
                    </h2>
                </div>
            </div>
            <div class="d-flex">
                <div class="d-flex flex-column ml-4 mt-4">
                    <h4 class="m-0 font-weight-bold">
                        Quanto mais trabalha, mais ganha
                    </h4>
                    <p class="m-0 line-18  font-size-18">
                        Os seus ganhos variam com a sua disponibilidade e
                        quantidade de vistorias realizadas.
                    </p>
                </div>
            </div>
            <div class="d-flex">
                <div class="d-flex flex-column ml-4 mt-4">
                    <h4 class="m-0 font-weight-bold">
                        Forma de parceria
                    </h4>
                    <p class="m-0 line-18 font-size-18">
                        Os vistoriadores participam do início ao fim dos
                        processos relacionados aos imóveis, vistoriando e
                        ajudando os clientes em suas novas moradias.
                    </p>
                </div>
            </div>
            <div class="d-flex">
                <div class="d-flex flex-column ml-4 mt-4">
                    <h4 class="m-0 font-weight-bold">
                        Você é o seu patrão
                    </h4>
                    <p class="m-0  line-18 font-size-18">
                        Você faz o seu próprio horário conforme o que definiu em sua agenda no app.
                    </p>
                </div>
            </div>
            <div class="row row-why mt-5">
                <div class="col-6 col-why d-flex">
                    <img src="../../../assets/icons/user-purple.svg" class="align-self-baseline mx-3 icon-aboute-right">
                <div class="d-block text-left">
                    <h1><b>80.123</b></h1>
                    <p class="m-0 line-18 font-size-18">
                        Proprietários Felizes
                    </p>
                </div> 
                </div>
                <div class="col-6 col-why d-flex ">
                    <img src="../../../assets/icons/home-purple.svg" class=" align-self-baseline mx-3 icon-aboute-right">
                <div class="d-block text-left">
                    <h1><b>+ de 1000</b></h1>
                    <p class="m-0 line-18 font-size-18">
                        imóveis registrados
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>