<section  class="container-fluid p-5 ">
  <div class="row">
    <div class="col-6">
      <img src="assets/logo/logo-k.svg" >
    </div>
    <div class="col-6 d-flex align-items-end  justify-content-end">
      <i (click)="exit()"  class="bi bi-x-lg"></i></div>
  </div>

  <div *ngIf="changeValue === 'termos'" class=" mt-3">
    <h6 class="text-center"><b>TERMOS E CONDIÇÕES GERAIS DE USO DA PLATAFORMA IMOVEISTOCK</b></h6>
    <p class="text-justify">Estes Termos e Condições Gerais de Uso da Plataforma Imoveistock (“Termos de Uso”, “Termos e Condições” ou “Termos”)
      regulamentam a utilização da referida Plataforma disponibilizada pela Imoveistock Tecnologia e Negócios LTDA, pessoa jurídica
      de direito privado inscrita no CNPJ/ME sob nº 22.041.482/0001-60, com sede na Al. Presidente Taunay, nº 829, CEP 80.430-000,
      bairro Bigorrilho, a seguir denominada simplesmente de Imoveistock (“Imoveistock” ou “Nós”).</p>
    <p class="text-justify">
      <b> Ao aderir e acessar a Plataforma Imoveistock, você reconhece e concorda,
        de forma livre, espontânea, plena e sem reservas, com o presente Termos de Uso,
        bem como com as demais Políticas disponíveis na Plataforma.</b>
    </p>
    <p class="text-jutify">Estes Termos sempre estarão disponíveis para leitura e visualização na página pública www.imoveistock.com.br</p>
    <p class="text-start"><b>1.	DEFINIÇÕES</b></p>
    <p class="text-justify"><b>1.1.	 “Plataforma”</b>: Ambiente virtual da Imoveistock onde os Usuários poderão se cadastrar e utilizar os serviços da
      Imoveistock conforme por ela disponibilizado e definido nestes Termos.</p>
    <p class="text-justify"><b>1.2.</b>	<b>“Você”</b> ou <b>“Usuário(s)”:</b> Pessoa física (ou jurídica) que se cadastra na Plataforma da Imoveistock,
      a quem aplicam-se estes Termos.</p>
    <p >&#160;&#160;&#160;<b>1.2.1. “Hostess”:</b>Tipo de Usuário, pessoa que faz parte do time da Imoveistock e acompanhará as
      visitas realizadas ao Imóvel, seja para locação ou venda.</p>
    <p >&#160;&#160;&#160;<b>1.2.2.	“Corretor(es)”:</b>Tipo de Usuário, pessoa credenciada pelo CRECI que presta serviços de corretagem dos Imóveis. Pode acompanhar outros
      Usuários durante visitas presenciais aos Imóveis.</p>
    <p >&#160;&#160;&#160;<b>1.2.3.	“Comprador(es)”:</b> Tipo de Usuário, pessoa em busca ou em meio a um processo de negociação de compra de um Imóvel.</p>
    <p >&#160;&#160;&#160;<b>1.2.4.	“Vendedor(es)”:</b> Tipo de Usuário, pessoa que disponibilizou Imóvel à venda por meio da Plataforma.</p>
    <p >&#160;&#160;&#160;<b>1.2.5.	“Inquilino”: </b>Tipo de Usuário, pessoa em busca ou em meio a um processo de negociação de locação de um Imóvel.</p>
    <p >&#160;&#160;&#160;<b>1.2.6.	“Locador”:</b> Tipo de Usuário, pessoa que disponibilizou Imóvel para aluguel por meio da Plataforma.</p>
    <p ><b>1.3.	“Imóvel(is)”:</b> imóveis, incluindo, mas não se limitando a apartamentos, casas e sobrados disponibilizados pelos Usuários na Plataforma para
      venda ou locação.</p>
    <p class="text-justify"><b>1.4.	“Política(s)”:</b> Política de Privacidade, Política de Cookies e demais políticas da Imoveistock disponíveis e que se tornarão disponíveis em suas páginas públicas.</p>
    <p><b>2.	SERVIÇOS</b></p>
    <p class="text-justify">A Imoveistock atua única e exclusivamente como intermediadora no processo de locação ou compra e venda dos Imóveis anunciados na Plataforma, sendo seus serviços
      divididos conforme abaixo especificado (“<b>Serviços</b>”):</p>
    <p><b>2.1.	Compra e venda de imóveis (com ou sem Corretor): </b></p>
    <p class="text-justify">O Vendedor preenche os dados de cadastro do Imóvel na Plataforma e autoriza que a Imoveistock entre em contato para entender e auxiliar a divulgação do Imóvel. Visando garantir a segurança dos Serviços,
      a Imoveistock analisará determinados documentos, como, por exemplo, a matrícula do Imóvel e certidões.</p>
    <p class="text-justify"> O Comprador, ao agendar visita do Imóvel pela Plataforma, verá o Hostess que fará o acompanhamento da visita, e será perguntado se prefere,
      nesta mesma visita, ter o acompanhamento do seu Corretor de preferência. </p>
    <p class="text-justify"> Poderá então adicionar o celular deste Corretor em campo específico na Plataforma e, caso esteja devidamente cadastrado em nossa base, o sistema o identificará com a sua foto e as informações da sua imobiliária.
      O Comprador confirmará se é aquele o seu Corretor e agendará a visita ao Imóvel desejado. </p>
    <p class="text-justify">Caso o Comprador selecione o campo dizendo que não possui nenhum Corretor específico de preferência, a confirmação da visita seguirá e o Hostess fará o atendimento.
      Em todas as hipóteses, as visitas ocorrerão com a presença de um Hostess.</p>
    <p class="text-justify">A formalização da proposta e demais tratativas relacionadas à compra do Imóvel serão devidamente registradas na Plataforma. </p>
    <p><b>2.2.	Locação (com ou sem Corretor):</b></p>
    <p class="text-justify">O Locador realiza o cadastro do seu Imóvel na Plataforma e a Imoveistock o divulgará para que interessados possam agendar visitas. O Inquilino verá, na Plataforma, o Hostess que fará o acompanhamento da visita, e será perguntado se
      prefere, nesta mesma visita, ter o acompanhamento do seu Corretor de preferência. </p>
    <p class="text-justify">Poderá então adicionar o celular deste Corretor em campo específico na Plataforma e, caso devidamente cadastrado em nossa base, o sistema o identificará com a foto e as informações da sua imobiliária. O Inquilino ao ver a foto e as informações confirmará se
      é aquele o seu Corretor e agendará a visita ao Imóvel desejado.</p>
    <p class="text-justify">Caso o Inquilino selecione o campo dizendo que não tem nenhum Corretor específico de preferência, a confirmação da visita seguirá e o Hostess fará o atendimento. Em todas as hipóteses, as visitas ocorrerão com a presença de um Hostess.</p>
    <p class="text-justify">A formalização da proposta e demais tratativas relacionadas à compra do Imóvel serão devidamente registradas na Plataforma. </p>
    <p><b>2.3.	Divulgação:</b></p>
    <p class="text-justify">A Imoveistock fará divulgação do Imóvel em portais imobiliários nacionais, bem como realizará estratégias de tráfego pago e campanhas
      nas redes sociais. Poderá ainda produzir vídeos e tour 360º em determinados Imóveis, sem custo adicional para o Usuário ou Corretor. </p>
    <p><b>2.4.</b>	Deve o Usuário identificar na Plataforma eventuais acompanhantes para visitação dos Imóveis.</p>
    <p class="text-justify"><b>2.5.	</b><u>Mudança de funcionalidades.</u> As funcionalidades da Plataforma poderão sofrer alterações, sempre visando prestar o melhor serviço, com a melhor tecnologia a Você. As atualizações da Plataforma são realizadas de forma automática, com correções e melhorias, assim,
      Você sempre utilizará a versão mais recente da Plataforma.</p>
    <p class="text-justify"><b>2.6.	</b><u>Atualização dos Termos de Uso.</u> Estes Termos poderão ser atualizados a qualquer momento, sempre buscando aprimorar a experiência do Usuário. Neste caso, os novos Termos de Uso entrarão em vigor imediatamente após sua publicação na Plataforma,
      de forma que a continuidade na utilização dos Serviços representará seu consentimento expresso com os novos termos e condições.</p>
    <p class="text-justify"><b>2.7.</b><u>	Declaração de vontade.</u> Os presentes Termos de Uso estabelecem obrigações entre Você e a Imoveistock, celebradas de livre e espontânea vontade e têm como objetivo trazer transparência e segurança para a relação jurídica que se estabelece a
      partir do momento em que Você anui expressamente com os Termos de Uso, concordando em segui-los estritamente, bem como interpretá-los em consonância com o princípio da boa-fé, estabelecido pelo artigo 422 do Código Civil brasileiro, e com toda a legislação brasileira. </p>
    <p><b>3.	SEU CADASTRO </b></p>
    <p class="text-justify"><b>3.1.</b>Você concorda que ao se cadastrar na Plataforma, anui e deverá obedecer a quaisquer Políticas ou Termos disponíveis sobre nossos Serviços ou que estejam disponíveis em nosso site.</p>
    <p class="text-justify"><b>3.2.</b> <u>Gratuidade de cadastro.</u> O cadastro na Plataforma é gratuito, no entanto, os Serviços poderão ser cobrados de acordo com o estabelecido pela Imoveistock em seus Termos e Políticas vigentes e em suas páginas públicas.</p>
    <p class="text-justify"><b>  3.3.</b><u>Manutenção dos dados cadastrais atualizados.</u> Os seus dados presentes na Plataforma são o meio utilizado para que a Imoveistock e outros Usuários possam entrar em contato com Você, caso necessário.
      Eventual prejuízo por parte do Usuário e terceiros em razão de erros presentes em seu cadastro, não são responsabilidade da Imoveistock, sendo de responsabilidade unicamente do Usuário a manutenção atualizada dos seus dados cadastrais, especialmente seu endereço eletrônico e telefone.</p>
    <p class="text-justify"><b>3.4.	</b> <u>Seu login.</u> O Serviço é acessado por meio de login exclusivo, pessoal e intransferível, realizados após seu cadastro na Plataforma. Você deverá manter seguro seu login de acesso aos Serviços. </p>
    <p>&#160;&#160;&#160;	<b>3.4.1.</b>A Imoveistock não se responsabiliza pelo acesso indevido de terceiros nas contas registadas na Plataforma, seja pelo compartilhamento de senha ou pelo acesso indevido a elas, sendo de única e exclusiva responsabilidade do Usuário a
      manutenção e a segurança de sua conta.</p>
    <p class="text-justify"><b>3.5.</b>	Você declara que é capaz de exercer todos os atos da vida civil e tem mais de 18 (dezoito) anos de idade completos para utilizar os Serviços da Imoveistock.</p>
    <p><b>4.	 VALORES E PAGAMENTOS</b></p>
    <p class="text-justify"><b>4.1.</b><u>Como verificar valores.</u> Os valores dos Imóveis sempre estarão disponíveis na Plataforma para visualização dos Usuários. </p>
    <p class="text-justify"><b>4.2.</b>Na hipótese de compra e venda do Imóvel, deverá o Comprador realizar um pagamento a título de sinal de negócio, cujo valor será definido entre as partes.</p>
    <p>&#160;&#160;&#160;<b>4.2.1.	 </b>Nos termos do Art. 417 do Código Civil brasileiro, em caso de desistência da compra do Imóvel pelo Comprador, este perderá o valor disposto na cláusula acima. Caso o Vendedor desista da
      venda do Imóvel, este deverá reembolsar o Comprador do valor disposto no item acima, mais seu equivalente.
      Em quaisquer hipóteses, a comissão da Imoveistock, disposta na cláusula 4.4 não será afetada.</p>
    <p class="text-justify"><b>4.3.</b> 	<u>Non-circumvention.</u> Caso o Usuário celebre contrato de compra e venda, locação ou realize transações, seja direta ou indiretamente,
      com outro Usuário apresentados pela Imoveistock no âmbito dos Serviços, a Imoveistock se reserva o direito de cobrar a comissão, descrita na presente seção, em sua integralidade. </p>
    <p class="text-justify"><b>4.4.</b><u>Comissão da Imoveistock na compra e venda dos Imóveis e repasses aos Corretores.</u> Pela venda do Imóvel por meio da Plataforma, a Imoveistock fará jus à comissão equivalente à 6% (seis por cento) sobre o valor de venda do Imóvel.</p>
    <p>&#160;&#160;&#160;<b>4.4.1.	</b>Ao Corretor, a Imoveistock repassará o equivalente à metade da comissão prevista na cláusula acima, apenas após o ato da lavratura da escritura pública de compra e venda do Imóvel ou após a assinatura do contrato de financiamento
      do Imóvel pelo Comprador e Vendedor. </p>
    <p><b> 4.5.	</b><u>Comissão da Imoveistock na locação dos Imóveis e repasses aos Corretores.</u> Pela locação do Imóvel por meio da Plataforma, a Imoveistock fará jus à comissão equivalente à 100% (cem por cento) do valor do primeiro aluguel do Imóvel pago pelo Inquilino
      bem como o equivalente à 8% (oito por cento) sobre o valor de cada aluguel pago mensalmente.  </p>
    <p>&#160;&#160;&#160;<b> 4.5.1.</b>	Ao Corretor, a Imoveistock repassará o equivalente à metade da comissão prevista na cláusula acima, sendo certo que o repasse ocorrerá dia 15 (quinze) ou 30 (trinta) do mês, a depender do momento de fechamento da locação.</p>
    <p><b>5.	USO DOS SERVIÇOS POR VOCÊ</b></p>
    <p class="text-justify"><b>5.1.</b>	<u> Responsabilidade sobre as informações inseridas.</u> Você deverá inserir na Plataforma informações verdadeiras, legais e corretas sobre si e sobre o Imóvel,
      sendo Você o único responsável civil e criminalmente por qualquer informação inserida na Plataforma e divulgada por meio dos canais de comunicação da Plataforma ou por qualquer outro meio. Caso insira ou
      divulgue informações incorretas ou inverídicas, ou se recuse a corrigi-las se solicitado, a Imoveistock se reserva o direito de bloquear a sua utilização e acesso à Plataforma até que se regularize a situação.</p>
    <p class="text-justify"><b>5.2</b>.	Os dispositivos pelos quais Você acessa a Plataforma, conexão à internet e navegadores, plataformas, servidores utilizados por Você são de sua exclusiva responsabilidade. A Imoveistock não se responsabiliza por quaisquer dificuldades técnicas e/ou estruturais que
      Você possa enfrentar na utilização dos seus equipamentos, plataformas ou sistemas operacionais ou pelo mau funcionamento dos Serviços inerente às falhas de conexão. Caso o acesso à Plataforma ocorra por meio de dispositivos móveis, poderão incidir as taxas e encargos da rede de dados móveis utilizada, sendo de sua responsabilidade exclusiva o pagamento por quaisquer uma delas.</p>
    <p class="text-justify"> <b>5.3.</b> Será de responsabilidade do Usuário indenizar/reembolsar a Imoveistock, inclusive em relação a honorários advocatícios e custas processuais, em caso de reclamação ou
      demanda promovida por terceiros, que decorram, exclusivamente, das atividades do Usuário na Plataforma, do seu descumprimento dos Termos de Uso e demais Políticas ou de qualquer violação à lei ou ao direito de terceiros.</p>
    <p><b> 5.4.	</b>Você declara e concorda, desde já, que responderá judicialmente por todo e qualquer dano, real ou potencial, causado pela prática de atos ilícitos através da Plataforma e/ou por meio do uso dos Serviços da Imoveistock.</p>
    <p><b> 5.5.</b>	Ao se comunicar com a Imoveistock por qualquer meio, Você deverá se comunicar de forma profissional e respeitosa, de acordo com estes Termos e demais Políticas da Imoveistock.</p>
    <p><b>5.6.	É expressamente proibido ao Usuário:</b></p>
    <p class="text-justify">&#160;&#160;&#160;A.	Utilizar a Plataforma para divulgação de informações desrespeitosas ou que violem, incluindo, mas sem limitação: direitos intelectuais, autorais, à honra, privacidade/confidencialidade, imagem;</p>
    <p class="text-justify">&#160;&#160;&#160;B.	Produção e divulgação de conteúdo ilegal, imoral, inapropriado ou ofensivo, ou que viole a moral e os bons costumes, à exclusivo critério da Imoveistock;</p>
    <p class="text-justify">&#160;&#160;&#160;C.	Copiar, usar, divulgar ou distribuir qualquer informação obtida por nossos Serviços sem nosso consentimento;</p>
    <p class="text-justify">&#160;&#160;&#160;D.	Violar direitos autorais, de marca registrada ou de propriedade da Imoveistock, bem como reproduzir, modificar, distribuir, transferir, comercializar, exibir, doar, veicular, transmitir ou, de qualquer outro modo, explorar os Serviços, exceto da forma expressamente permitida pelos presentes Termos de Uso;</p>
    <p class="text-justify">&#160;&#160;&#160;E.	Violar a propriedade intelectual da Imoveistock ou direitos autorais, usando o nome “Imoveistock”, ou nossas logos em qualquer nome empresarial, e-mail ou Uniform Resource Locator - URL;</p>
    <p class="text-justify">&#160;&#160;&#160;F.	Copiar, alterar, distribuir, expor, licenciar, modificar ou reproduzir, praticar engenharia reversa de qualquer modalidade ou utilizar nossa Propriedade Intelectual, a não ser que haja acordo expresso, prévio e por escrito conosco;</p>
    <p class="text-justify">&#160;&#160;&#160;G.	Utilizar o Serviço de forma adversa ao previsto nestes Termos de Uso ou ao disponibilizado pela Imoveistock;</p>
    <p class="text-justify">&#160;&#160;&#160;H.	Violar ou tentar violar qualquer medida de segurança da Plataforma;</p>
    <p class="text-justify">&#160;&#160;&#160;I.	Executar malwares, spywares, ou tomar quaisquer ações prejudiciais e/ou maliciosas, que interfiram na nossa rede e/ou de terceiros ou, ainda, que tenham a finalidade de acessar informações não autorizadas tanto nossas quanto de terceiros ou outros Usuários</p>
    <p class="text-justify">&#160;&#160;&#160;J.	Utilizar software ou qualquer meio que possa prejudicar ou impedir o Serviço tais como, mas não se limitando a pinging, war dialing, mail-bombs e outros ataques virtuais; </p>
    <p class="text-justify">&#160;&#160;&#160;K.	Fazer ou lançar programas, spams, vírus de computador, worms, cavalos de Troia, scripts ou usar robô, spider, scraper ou qualquer outro meio automatizado, invasivo ou malicioso para a obtenção de dados ou de parte dos Serviços da Imoveistock, incluindo, mas não somente, a prática de phishing, ou de sobrecarregar ou prejudicar indevidamente o funcionamento da Plataforma;</p>
    <p class="text-justify">&#160;&#160;&#160;L.	Utilizar o Serviço para fins ilícitos ou de forma contrária à legislação vigente;</p>
    <p class="text-justify">&#160;&#160;&#160;M.	Tentar acessar, modificar, descompilar, reverter ou alterar o código-fonte da Plataforma ou qualquer outra tecnologia relacionada aos Serviços da Imoveistock que não seja open source;</p>
    <p class="text-justify">&#160;&#160;&#160;N.	Utilizar ferramenta ou proxy anônimo com a finalidade de tornar seu endereço de IP anônimo;</p>
    <p class="text-justify">&#160;&#160;&#160;O.	Criar aplicativo que possa ser usado para violar os presentes Termos de Uso, ou ainda qualquer outra Política da Imoveistock, legislação, normas ou regulamentos aplicáveis; </p>
    <p class="text-justify">&#160;&#160;&#160;P.	Utilizar o script de forma que constitua uso excessivo ou abusivo, ou o descumprimento destes Termos de Uso; e</p>
    <p class="text-justify">&#160;&#160;&#160;Q.	Praticar qualquer ato contrário à boa-fé, fraudulento ou com o intuito de prejudicar direta ou indiretamente a Imoveistock, outros Usuários ou terceiros.</p>
    <p class="text-justify"><b>6.	PARÂMETROS DOS SERVIÇOS E LIMITAÇÃO DE RESPONSABILIDADE</b></p>
    <p><b>6.1.</b>	A Imoveistock se compromete a:</p>
    <p class="text-justify">&#160;&#160;&#160;A.	Proteger os dados pessoais inseridos por Você sob caráter de sigilo, conforme melhores práticas e tecnologia de segurança, utilizando-os apenas para os fins descritos nestes Termos de Uso, conforme suas Políticas; e</p>
    <p class="text-justify">&#160;&#160;&#160;B.	Tomar as devidas providências em caso de mau funcionamento da Plataforma, assim como prestar o suporte a Você por meio dos canais de atendimento disponibilizados, tudo conforme descrito nestes Termos, Políticas e demais páginas públicas da Imoveistock.</p>
    <p><b>6.2.	</b>A Imoveistock não é a proprietária dos Imóveis anunciados na Plataforma, não possui ingerência sobre eles, de forma que atua como intermediadora dos Usuários por meio da Plataforma. </p>
    <p class="text-justify"><b>6.2.1.</b>&#160;&#160;&#160;	A Imoveistock não possui controle sobre a qualidade, segurança, pendências ou legalidade dos Imóveis ofertados pelos Usuários, e, portanto, não será responsável pelo cumprimento de quaisquer obrigações assumidas diretamente entre os Usuários,
      sendo cada Usuário o único e exclusivo responsável pela reparação de quaisquer danos, acidentes, fatos ou atos decorrentes do descumprimento de eventual obrigação assumida perante outro Usuário ou terceiros, salvo hipóteses expressamente previstas nestes Termos e Políticas da Imoveistock.</p>
    <p class="text-justify"><b>6.3.	</b>O Usuário declara sua inequívoca ciência de que a Plataforma não é livre de erros, bugs, vírus, vícios, embora a Imoveistock tome todas as medidas para que isso não ocorra, bem como empreende esforços para corrigir tais situações em prazo razoável, à medida em que identificados por ela e pelos Usuários.</p>
    <p class="text-justify"><b> 6.4.</b>	A Imoveistock adota todas as medidas possíveis para manter a confidencialidade e a segurança dos dados e informações de seus Usuários, os quais reconhecem que nenhum software, servidor ou sistema está absolutamente imune a ataques e/ou invasões de hackers e outros agentes maliciosos, não sendo a Imoveistock responsável por qualquer exclusão, obtenção,
      utilização ou divulgação não autorizada de informações resultantes de ataques que não poderia razoavelmente evitar por meio dos seus padrões de segurança.</p>
    <p><b> 6.5.</b>	O Usuário declara, expressamente, ter ciência de que os Serviços são exatamente aqueles previstos neste instrumento, não estando a Imoveistock obrigada a fornecer qualquer nova funcionalidade, recurso ou customização,
      a ser incorporada à Plataforma posteriormente à data de celebração destes Termos. </p>
    <p class="text-justify">&#160;&#160;&#160;<b>6.5.1.</b>	A Imoveistock poderá, por sua própria liberalidade, eventualmente exercida em caráter não-vinculante, resolver implementar novas funcionalidades por conta própria sem exigir previamente qualquer contrapartida.</p>
    <p class="text-justify">&#160;&#160;&#160;<b> 6.5.2.</b>	O Serviço atenderá às finalidades para as quais foram desenvolvidas. Sendo assim, a Imoveistock não garante que o Serviço atenderá requisitos ou necessidades específicas de sua vontade.</p>
    <p class="text-justify"><b>6.6.</b>	A Imoveistock ficará isenta de qualquer responsabilidade causada por eventos decorrentes de caso fortuito ou força maior, incluindo os danos eventualmente causados em razão
      de fenômenos meteorológicos, falhas em sistemas de telecomunicação,energia elétrica, indisponibilidade de servidores, estruturas e plataformas físicas e/ou virtuais de terceiros nos quais a Plataforma é executada e disponibilizado, orientação e navegação, defeito nos equipamentos do Usuário e terceiros a ele vinculados
      utilizados para acessar a Plataforma, além de outras hipóteses de mau uso da Plataforma pelo Usuário. Você fica desde logo ciente de que os programas poderão sofrer interrupções periódicas para atualizações e reparos, bem como em razão de falhas corrigíveis. </p>
    <p><b> 6.7.</b>	A Imoveistock não será responsável por divergências, erros humanos, informações desatualizadas ou equivocadas transmitidas e/ou compartilhadas pelo Usuário durante a utilização dos Serviços, estando isenta de qualquer responsabilidade ou corresponsabilidade nesse sentido.</p>
    <p><b>6.8.	</b><u>Informações das páginas públicas.</u> As informações que constam na Plataforma e demais páginas públicas da Imoveistock poderão mudar eventualmente a seu exclusivo critério. Tentaremos manter as informações sempre atualizadas, mas não garantimos que estarão corretas a todo momento.</p>
    <p><b>7.	PROPRIEDADE INTELECTUAL DA IMOVEISTOCK</b></p>
    <p class="text-justify"><b>7.1.</b>&#160;&#160;&#160; A titularidade e os direitos relativos à propriedade intelectual da Plataforma pertencem exclusivamente à Imoveistock de forma que nenhuma cláusula destes Termos deve ser interpretada ou considerada como transferência ou cessão de direito de propriedade intelectual.</p>
    <p class="text-justify"><b>7.1.1.</b>&#160;&#160;&#160;	Todo o conteúdo da Plataforma, inclusive, mas não se limitando às imagens, ilustrações, informações, marcas, layout, logotipo e base de dados relacionados aos Serviços está protegido por direitos de propriedade intelectual e direitos autorais, todos pertencentes a Imoveistock.
      Portanto, é expressamente proibido a Você utilizar indevidamente qualquer conteúdo ou marcas apresentadas na Plataforma, obrigando-se o Usuário a abster-se de realizar quaisquer condutas que infrinjam os direitos aqui descritos, exceto se previamente e expressamente autorizado por escrito pela Imoveistock.</p>
    <p><b>8.	CONTATO E COMUNICAÇÃO</b></p>
    <p><b>8.1.	</b>Caso você deseje entrar em contato com a Imoveistock poderá fazê-lo por meio do endereço eletrônico: contato@imoveistock.com.br.</p>
    <p><b>9.	PROTEÇÃO DE DADOS PESSOAIS</b></p>
    <p class="text-justify"><b>9.1.</b> 	O tratamento dos dados pessoais coletados para fins de utilização da plataforma Imoveistock, bem como a correta prestação de serviços pela empresa, segue a normativa das leis e normas de proteção e privacidade de dados, especialmente a Lei nº 13.709/2018, Lei Geral de Proteção de Dados Pessoais – LGPD,
      e é disciplinada pela nossa Política de Privacidade, disposta no nosso site através do link [-].</p>
    <p class="text-justify"><b>9.2.</b> 	A Imoveistock utiliza medidas de segurança técnicas e organizacionais para garantir o tratamento correto dos dados pessoais de seus Usuários. Qualquer dúvida ou para exercício de direitos do titular de dados, entre em contato através dos nossos canais oficiais.</p>
    <p><b>10.	VIGÊNCIA E CANCELAMENTO</b></p>
    <p><b>10.1.	</b>Estes Termos vigerão por prazo indeterminado a partir da data de seu aceite na Plataforma por Você.</p>
    <p><b>11.	DISPOSIÇÕES GERAIS</b></p>
    <p class="text-justify"><b>11.1.</b>	Você concorda que em caso de quaisquer conflitos advindos da sua relação de Usuário com a Imoveistock aplicar-se-á a legislação brasileira vigente, ainda que
      Você seja um Usuário que resida em outro país que não seja o Brasil.</p>
    <p class="text-justify"><b>11.2.</b>	Estes Termos não estabelecem qualquer forma de associação, franquia, parceria, consórcio, <i>joint-venture</i>, vínculo empregatício, societário ou solidariedade entre a Imoveistock e o Usuário, tampouco confere às partes permissão para praticar quaisquer atos, contratar ou assumir obrigações em nome da outra parte.</p>
    <p class="text-justify"><b>11.3.</b>	No caso de alguma cláusula pertencente a estes Termos ou qualquer outra Política da Imoveistock seja declarada nula, inaplicável ou sem efeito, apenas esta será afetada, e continuam a viger o restante das cláusulas dos presentes Termos.</p>
    <p class="text-justify"><b>11.4.</b>A eventual tolerância quanto a qualquer violação dos Termos de Uso ou Políticas da Imoveistock será considerada mera liberalidade e não será interpretada como novação, precedente invocável, renúncia a direitos, alteração tácita dos termos contratuais, direito adquirido ou alteração contratual.</p>
    <p class="text-justify"><b>11.5.</b>Fica eleito o Foro Central da Comarca da Região Metropolitana da cidade de Curitiba, Estado do Paraná, para dirimir quaisquer dúvidas ou conflitos advindos dos presentes Termos de Uso ou demais Políticas da Imoveistock.</p>

  </div>
  <div *ngIf="changeValue === 'politica'">

    <h6 class="text-center"><b>POLÍTICA DE PRIVACIDADE – IMOVEISTOCK</b></h6>
    <p class="text-center">Versão 001 – 06/2022</p>
    <p><b>Introdução</b></p>
    <p class="text-justify">Para o correto e eficiente funcionamento da plataforma, é indispensável que o tratamento de dados dos usuários ocorra pela Imoveistock e,
      desta forma, é nosso compromisso atendermos integralmente com as disposições legais e melhores práticas envolvendo proteção e privacidade de dados.
      Pensando nisso, apresentamos esta Política de Privacidade para, de forma transparente, informar os titulares e stakeholders como é feito o tratamento de
      dados na Imoveistock, estabelecendo diretrizes e melhores práticas relacionadas.</p>
    <p class="text-justify"><b>Esta Política deve ser interpretada em conjunto com os Termos de Uso da Imoveistock, disponível no link: [-]</b></p>
    <p>Esta Política servirá como guia para que todos os interessados possam compreender: </p>
    <p>• porque precisamos coletar estas informações;</p>
    <p>• quais as categorias de dados pessoais tratamos;</p>
    <p>• se ocorre o compartilhamento destas informações;</p>
    <p>• quais são seus direitos como titular de dados pessoais;</p>
    <p>• entre outras informações.</p>
    <p><b>Termos e definições</b></p>
    <p class="text-justify">Para uma melhor compreensão desta Política, conforme estabelecido pela LGPD, considera-se:</p>
    <p><b>(i) Dado Pessoal: </b>informação relacionada a pessoa natural identificada ou identificável;</p>
    <p><b>(ii) Dado Pessoal Sensível:</b> dado pessoal sobre origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso,
      filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural;</p>
    <p><b>(iii) Titular dos Dados: </b>pessoa natural a quem se referem os dados pessoais que são objeto de tratamento;</p>
    <p><b>(iv) Controlador:</b> É a pessoa natural ou jurídica, de direito público ou privado, a quem competem as decisões referentes ao tratamento de dados pessoais, e definição dos meios e
      finalidades do tratamento. (Ex.: a Imoveistock é a Controladora dos dados pessoais de seus colaboradores em relação às atividades de tratamento de dados necessárias para a execução dos seus respectivos contratos de trabalho);</p>
    <p><b>(v) Operador: </b>pessoa natural ou jurídica, de direito público ou privado, que realiza o tratamento de dados pessoais em nome do Controlador;</p>
    <p><b>(vi) Tratamento:</b> toda operação realizada com dados pessoais, como as que se referem a coleta, produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento,
      eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração.</p>
    <p><b>De quem são os dados pessoais que tratamos?</b></p>
    <p class="text-justify">Todo tratamento de dados pessoal realizado pela empresa possui uma base legal que a fundamente, conforme dispõe a Lei Geral de Proteção de Dados Pessoais. Por esse motivo, nos comprometemos a utilizar estas informações somente para as
      finalidades estabelecidas previamente pela Imoveistock. Prezando pela transparência destes tratamentos, classificamos as informações que tratamos diariamente durante nossa atividade comercial, sendo elas dados de:</p>
    <p>•	Colaboradores;</p>
    <p>•	Fornecedores;</p>
    <p>•	Proprietários de imóveis;</p>
    <p>•	Profissionais da área imobiliária, como corretores;</p>
    <p>•	Colaboradores e Prestadores de Serviços para Imóveis e Condomínios;</p>
    <p>•	Visitantes cadastrados e pessoas relacionadas;</p>
    <p>•	Representantes, sócios e administradores das empresas contratantes;</p>
    <p>•	Parceiros comerciais;</p>
    <p>•	Candidatos “Trabalhe na Imoveistock”;</p>
    <p>•	Terceiros necessários a operação da Imoveistock.</p>
    <p class="text-justify">A coleta das informações pessoais é realizada de maneira individual para cada processo envolvendo a atividade da Imoveistock, sempre prezando pelas melhores práticas e
      por meio de medidas técnico administrativas que garantam segurança no armazenamento e utilização dos dados.</p>
    <p><b>Quais dados pessoais coletamos e quais tratamentos realizamos?</b></p>
    <p class="text-justify">Durante nossa operação comercial naturalmente temos coletamos dados pessoais, que são tratados somente pelos colaboradores ou terceiros relacionados diretamente com a operação da Imoveistock, havendo o controle dos acessos e
      o compromisso com a confidencialidade das informações, não só pessoais, como estratégicas. </p>
    <p class="text-justify">Sempre que possível, todos as informações que armazenamos sobre você estarão criptografadas, garantindo a integridade e segurança da informação e, além disso, os nossos colaboradores e
      terceiros relacionados são capacitados para manusear as informações pessoais, pois somos claros com nossos padrões de conduta e diretrizes sobre a importância deste importante ativo.
      Para facilitar a compreensão dos tratamentos realizados pela empresa, elaboramos esta tabela que exemplifica os dados coletados e a sua finalidade, vejamos:</p>
    <table border="1">
      <tr>
        <th class="text-center"><b>DADOS COLETADOS</b></th>
        <th class="text-center"><b>FINALIDADE</b></th>

      </tr>
      <tr>
        <td class="text-center">Dados dos proprietários dos imóveis</td>
        <td class="text-center">Realizar o contato direto com o proprietário e intermediar negócios.</td>

      </tr>
      <tr>
        <td class="text-center">Dados dos visitantes e acompanhantes</td>
        <td class="text-center">Utilização da plataforma, registro dos acessos e intermediação dos negócios. Agendamento de visitas no local e contato.</td>
      </tr>
      <tr>
        <td class="text-center">Dados dos corretores</td>
        <td class="text-center">Utilização da plataforma. Registro de interações e intermediação de negócios.</td>
      </tr>
      <tr>
        <td class="text-center">Dados de colaboradores</td>
        <td class="text-center">Exigências legais. Necessárias para operação da Imoveistock.</td>
      </tr>
      <tr>
        <td class="text-center">Dados de candidatos</td>
        <td class="text-center">Dados relacionados a candidatos de vagas de emprego da Imoveistock</td>
      </tr>
      <tr>
        <td class="text-center">Dados de parceiros comerciais e fornecedores</td>
        <td class="text-center">Necessários para efetiva contratação de serviços ou realização da parceria específica</td>
      </tr>
      <tr>
        <td class="text-center">Dados de leads.</td>
        <td class="text-center">Coletados organicamente ou através de campanhas nas redes sociais e demais veículos de comunicação,
          são utilizados para o contato direto sobre informações e oportunidades direcionadas.</td>
      </tr>
    </table>

    <p>Além disso, em nossa plataforma, coletamos as seguintes informações:</p>
    <p class="text-justify"><b>Informações fornecidas pelos titulares</b> - Informações de identificação pessoal (nome, telefone, e-mail), que você insere em nossos cadastros ou formulários, podendo haver dados específicos solicitados, a
      depender do tipo de usuário cadastrado, por exemplo, se proprietário, visitante ou corretor de imóveis. Eventualmente, a
      solicitação de algumas informações poderá ser realizada por meio de contato direto da Imoveistock com os usuários, via e-mail ou telefone.</p>
    <p class="text-justify"><b>Histórico de contato</b>- A Imoveistock armazena informações a respeito dos contatos dos usuários, como conteúdos acessados na nossa
      plataforma e interações via e-mail e chat. Da mesma forma, armazenamos o histórico de busca de cada usuário e suas atividades.</p>
    <p class="text-justify">Além disso, para que possamos prestar nossos serviços, eventualmente poderemos cruzar informações do mesmo titular, estruturando um perfil do
      usuário para classificar seus interesses e efetivar as campanhas de marketing direcionadas. </p>
    <p><b>Direitos dos titulares de dados pessoais</b></p>
    <p>Respeitar os direitos dos titulares de dados pessoais é muito importante para nós. Diante disso, estes poderão contatar o Encarregado de dados (DPO) através do e-mail <b>dpo@Imoveistock.com.br</b> para
      exercer seus direitos ou tirar dúvidas e obter esclarecimentos a respeito dos seus dados pessoais utilizados pela empresa.</p>
    <p class="text-justify">A qualquer momento os titulares de dados pessoais que possuam suas informações utilizadas pela empresa poderão:</p>
    <p><b>I.	Confirmação de Tratamento:</b>&#160;&#160;&#160; Confirmar com a Imoveistock a existência de tratamento de dados pessoais e obter, a qualquer tempo, acesso aos seus dados;</p>
    <p><b>II.	Correção dos Dados:</b>&#160;&#160;&#160; Requerer a Imoveistock a correção de dados que estejam incompletos, inexatos ou desatualizados;</p>
    <p><b>III.	Anonimização, bloqueio ou eliminação:</b>&#160;&#160;&#160; Requerer a anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com a Lei Geral de Proteção de Dados;</p>
    <p><b>IV.	Informações sobre o compartilhamento:</b>&#160;&#160;&#160; Requerer informações das entidades públicas e privadas com as quais a Imoveistock realizou uso compartilhado de dados;</p>
    <p><b>V.	Exclusão dos dados:</b>&#160;&#160;&#160; Solicitar a exclusão dos seus dados coletados e armazenados pela Imoveistock, desde que decorrido o prazo legal mínimo relacionado à guarda dos respectivos dados;</p>
    <p><b>VI.	Portabilidade de dados:</b>&#160;&#160;&#160; Realizar a portabilidade dos dados a outro prestador de serviços, mediante sua requisição;</p>
    <p><b>VII.	Revogação e informações sobre o consentimento:</b>&#160;&#160;&#160; Nos casos em que a Imoveistock requerer o seu consentimento para coleta de algum dado, você poderá requerer informação sobre a possibilidade de
      não oferecer consentimento e suas consequências. Caso concedido, poderá posteriormente revogar o consentimento, bem como requerer a eliminação desses dados.</p>
    <p class="text-justify">As solicitações serão respondidas dentro do prazo geral de 15 (quinze) dias a contar da data da requisição, variável conforme a complexidade da demanda do titular.</p>
    <p><b>Cultura da Privacidade</b></p>
    <p class="text-justify">A cultura da privacidade e proteção de dados é um dever coletivo. Ciente disso, a Imoveistock se compromete a oportunizar aos seus colaboradores, capacitações e treinamentos que tem o objetivo de promover a cultura da proteção de dados e reafirmar o comprometimento da empresa com o respeito aos direitos dos titulares de dados pessoais.</p>
    <p><b>Fundamentos legais para o tratamento de dados pessoais</b></p>
    <p class="text-justify">Como já informamos anteriormente, todo tratamento de dado pessoal realizado pela empresa possui uma justificativa legal. Entretanto, essas justificativas poderão variar conforme as finalidades pré-estabelecidas pela empresa. </p>
    <p class="text-justify">A LGPD permite que os tratamentos ocorram, com base nas respectivas bases legais estabelecidas pelo artigo 7º da lei. A Imoveistock utiliza, majoritariamente em seus processos internos, os seguintes fundamentos legais: </p>
    <table class="text-justify"  border="1">
      <tr>
        <th class="text-center">Cumprimento de obrigação legal (inciso II);</th>
      </tr>
      <tr>
        <th class="text-center">Exercício regular de direito (inciso VI);</th>
      </tr>
      <tr>
        <th class="text-center">Interesses legítimos do controlador / Terceiro (inciso IX);</th>
      </tr>
      <tr>
        <th class="text-center">Consentimento (inciso I).</th>
      </tr>
    </table>
    <p><b>Por que precisamos realizar estes tratamentos de dados?</b></p>
    <p class="text-justify">Os tratamentos de dados pessoais são fundamentais para que a Imoveistock possa atingir suas finalidades, principalmente o desenvolvimento e promoção de
      negócios envolvendo imóveis e correlatos. Desta forma, todos os tratamentos realizados estão limitados a finalidades pré-estabelecidas pela empresa, sendo
      algumas delas, as seguintes:</p>
    <p>•	Para facilitar a interação e gerar negócios no mercado imobiliário; </p>
    <p>•	Para o devido cumprimento do contrato, com relação ao seu serviço;</p>
    <p>•	Para contratação e gestão de colaboradores e prestadores de serviços;</p>
    <p>•	Para cumprimento de obrigação legal, ou seja, dados que são exigidos por autoridades, como a Receita Federal, dentre outros;</p>
    <p>•	Para exercício dos seus direitos em eventual processo judicial, administrativo ou arbitral, podendo alguns dados serem tratados e armazenados, inclusive, após o
      término da relação contratual;</p>
    <p>•	Quando necessário para atender aos legítimos interesses da Imoveistock;</p>
    <p>•	Excepcionalmente para outras finalidades, mas sempre fundamentado nas bases legais permitidas pela LGPD.</p>
    <p><b>Do armazenamento de dados pela Imoveistock</b></p>
    <p class="text-justify"> Todo armazenamento dos dados pessoais utilizado na operação comercial da Imoveistock é feito somente enquanto houver uma finalidade legítima, por meio de sistemas e
      ferramentas que assegurem sua inviolabilidade, dentro das medidas técnicas organizacionais razoáveis atreladas à segurança da informação, inclusive por meio de controle de acesso somente aos colaboradores e prestadores de serviços indispensáveis para a atividade da Imoveistock.</p>
    <p>Mais informações a respeito do armazenamento dos dados pessoais, poderão ser solicitadas mediante contato com o nosso DPO, no e-mail: <b>dpo@imoveistock.com.br</b></p>
    <p><b>Compartilhamento</b></p>
    <p class="text-justify">A Imoveistock poderá compartilhar seus dados com terceiros necessários para atividade econômica da
      empresa. Os agentes que recebem dados provenientes da Imoveistock possuem padrões de segurança e confidencialidade adequados e aptos para proteger seus dados. Entre esses terceiros estão:</p>
    <p><b>Parceiros de negócio </b>- Podemos compartilhar os seus dados com nossos parceiros de para oferecerem produtos personalizados para o seu gosto individual, bem como para promoverem as negociações no mercado imobiliário.</p>
    <p><b>Prestadores de serviços de marketing</b> – podemos utilizar serviços de marketing para oferecer anúncios de interesse e promover a atividade da Imoveistock.</p>
    <p><b>Prestadores de serviços de tecnologia </b>– podemos compartilhar dados para fins de aprimoramento da plataforma, armazenar dados em nuvem, e até para obter suporte técnico e operacional aos nossos serviços.</p>
    <p><b>Autoridades Públicas</b> – Seus dados poderão ser compartilhados para o cumprimento de exigências legais ou regulatórias, para execução de contratos, para o exercício de direito em processos judiciais, administrativos ou arbitrais e para garantir a prevenção à fraude.</p>
    <p>Alguns dados pessoais poderão ser objeto de transferência internacional, por exemplo, para o armazenamento em servidores de computação em nuvem localizados fora do Brasil. Mesmo nesses casos, a Imoveistock observa todas as diretrizes estabelecidas pela Lei Geral de Proteção de Dados Pessoais.</p>
    <p><b>Segurança</b></p>
    <p class="text-justify">Nós adotamos medidas técnicas e organizacionais para proteger seus dados. Temos o compromisso com o sigilo e do monitoramento das atividades internas e de nossos prestadores de serviço, e asseguramos a proteção dos dados através da implementação de procedimentos adequados para mantê-los seguros.</p>
    <p><b>Nossa responsabilidade</b></p>
    <p class="text-justify">Como Controlador de dados pessoais, entendemos a importância e a responsabilidade em manter essas informações seguras, para isso, a Imoveistock estabelece procedimentos internos e ferramentas que seguem os mais altos padrões de segurança das informações pessoais. </p>
    <p class="text-justify">Além disso, a empresa se compromete a cumprir com os termos desta Política de Privacidade, estando disponível para esclarecer eventuais dúvidas referentes ao tratamento de dados pessoais  </p>
    <p><b>Controlador:</b></p>
    <p class="text-justify"><b>IMOVEISTOCK TECNOLOGIA E NEGOCIOS LTDA</b>., com sede na Al. Presidente Taunay, nº 835, loja 06, bairro Bigorrilho, CEP nº 80430-000, inscrita no CNPJ sob o nº 22.041.482/0001-60.</p>
    <p><b>Canais de comunicação:</b></p>
    <p class="text-justify">Para quaisquer informações, inclusive para o exercício dos seus direitos como titular dos dados pessoais a nós confiados, você poderá entrar em contato com o Encarregado (DPO) da Imoveistock através do e-mail: <b>dpo@Imoveistock.com.br</b></p>
    <p><b>Atualizações da política:</b></p>
    <p class="text-justify">A Imoveistock, com o objetivo de atualizar as boas práticas e diretrizes para a conformidade no tratamento de dado pessoal, poderá, eventualmente, editar a presente política. Estas atualizações têm o objetivo de melhor refletir o compromisso assumido pela empresa com a proteção e privacidade de dados pessoais.</p>
    <p class="text-justify">Caso este documento sofra alterações, a Imoveistock utilizará os meios de comunicação oficiais para comunicar eventuais edições e sempre disponibilizará a versão atualizada do documento no site, link [-].</p>

  </div>
</section>
