<section class="pt-5 container-fluid">
    <div class="row">
<!--        <div class="col-lg-6 d-flex justify-content-center">-->
<!--            <img src="../../../assets/image/k-image.svg" style="padding: 7rem;" class="img-fluid"/>-->

<!--        </div>-->
      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <div class="card-left-about">
          <img src="../../../assets/image/k-image.svg" class="img-fluid img-partner-mobile"/>
          <img src="../../../assets/image/k-image.svg" class="img-fluid img-partner-desktop"/>
        </div>
      </div>
        <div class="col-lg-6  d-flex flex-column justify-content-center  px-lg-5 my-5">
            <h2 class="text-dark pt-lg-0 pt-5 mt-lg-0 ">
                Veja como funciona para se tornar um vistoriador parceiro
            </h2>
            <p class="pr-lg-5 text-dark mt-4 text-justify">
                Realize vistorias pelo celular. Visualize sua agenda pelo aplicativo e defina sua rota diária. Quanto mais vistorias realizar, maior será a sua renda
            </p>

            <button class="btn btn-see-surveyor-desktop w-100 my-5" onclick="window.location='#scrollTContact'">Quero ser um vistoriador imoveistock</button>

        </div>
    </div>
</section>
