app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 99;
}

.header-custom {
    padding-top: 117px !important;
}

@media (max-width: 991px) {
    .header-custom {
        padding-top: 60px !important;
    }
}