<section class="container-fluid pt-lg-5 mt-lg-5">
    <div class="row">
        <div class="col-lg-6 bg-two-peoples"></div>
        <div class="col-lg-6 d-flex flex-column justify-content-center px-lg-5">
            <h2 class="pr-lg-5 mb-5 mt-5">Mais do que um grupo, somos um movimento que pretende unir todos os porteiros do Brasil.</h2>
            <p class="mt-5">Proin ut nunc dignissim, aliquam diam nec, sollicitudin lorem. Aenean volutpat velit at nibh elementum mattis. Fusce ut mi in odio sodales pulvinar nec sit amet elit. Mauris pellentesque, sapien id viverra imperdiet, mi lectus cursus nibh, ut semper mauris sapien tempus nibh.</p>
            <button class="btn btn-want-to-be-part2 mb-5">Quero fazer parte</button>
        </div>
    </div>
</section>