<app-navbar></app-navbar>
<section class="w-100 h-100">
    <div class="row d-flex justify-content-center">
        <div class="col-12 d-flex justify-content-center bg-about-page">
            <div class="col-12 max-w-1700 h-100">
                <h1 class="fw-500 max-w-1700 position-relative font-size-64 line-83 w-fit text-light title-about">Quem Somos
                nós?</h1>
            </div>
        </div>
        <div class="col-12 bg-about max-w-1700" style="padding: 8% 2% 5% 2%;">
            <div class="row mx-0 block h-100">
                <div class="col-6 w-full px-5 d-flex justify-content-center align-self-center">
                    <div class="w-100" style="max-width: 472px;">
                        <h4 class="fw-500 font-size-48 line-62 text-dark">O Desafio!</h4>
                        <p class="fw-500 font-size-20 line-26 text-dark">
                            Nós começamos a abrir inúmeras portas quando fechamos as nossas. Tudo começou em 2015, ano
                            em que inauguramos em Curitiba uma imobiliária de médio porte cheia ânimo e com um desafio
                            que só cresceu com o tempo: a dificuldade em angariar imóveis para vender e alugar. Não era
                            um problema só nosso, na verdade era uma frustração comum entre as imobiliárias. Já da parte
                            dos proprietários, a irritação se concentrava na demora para vender ou alugar seus imóveis,
                            o que gerava uma relação tensa com as imobiliárias. Em dois anos nós falimos, mas a
                            experiência negativa gerou uma reflexão que mudaria para sempre o mercado: será que seria
                            possível reverter essa situação e, de quebra, expandir de forma significativa as ofertas
                            para quem quer comprar ou alugar um imóvel?
                        </p>
                    </div>
                </div>
                <div class="col-6 w-full h-100 px-5 text-center">
                    <img src="../../../assets/image/k-logo.png" class="h-fit k-logo" />
                    <img src="../../../assets/image/card-about.png" class="card-img-about h-fit  px-3" />
                </div>
            </div>
        </div>
        <div class="col-12 bg-white max-w-1700" style="padding: 12% 0%;">
            <div class="row mx-0  h-100">
                <div class="col-6 col-office text-left p-0 w-full" style="height: 100%;">
                    <img src="../../../assets/image/office.png" class="card-img-office h-fit" />
                </div>
                <div class="col-6 w-full py-3 px-5 d-flex justify-content-center align-self-center">
                    <div class="w-100" style="max-width: 472px;">
                        <h4 class="fw-500 font-size-48 line-62 text-dark">A Sakada!</h4>
                        <p class="fw-500 font-size-20 line-26 text-dark">
                            Com a mentoria do Founder Institute (uma das principais incubadoras de startups do planeta),
                            criamos a Imoveistock e aplicamos no mercado um sistema revolucionário de venda e locação.
                            Para as imobiliárias, é uma maneira de expandir incrivelmente sua angariação, pois os
                            imóveis disponibilizados podem ser oferecidos por elas. Para os proprietários, é uma forma
                            de ter diversas imobiliárias e corretores trabalhando simultaneamente para vender ou alugar
                            seu imóvel. E para quem quer comprar ou alugar, é uma vitrine gigantesca de ofertas. Tudo
                            com muita tecnologia, agilidade e praticidade, mas sem perder o lado humano no atendimento.
                            Agora, abrir portas e fechar negócio são uma coisa só.
                        </p>
                        <h4 class="fw-500 pt-4 font-size-20 line-26 text-dark">
                            Com a Imoveistock você pode kontar!
                        </h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>