<section class="container-fluid margin-top-why-advertise">
    <div class="row">
        <div class="col-lg-6 text-align-center">
            <img src="../../../assets/image/k-image.svg" class="w-100"/>
            
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center py-5 px-lg-5 my-5">
            <h2 class="text-dark pt-lg-0 pt-5 mt-lg-0 mt-5">
                Veja como funciona para se tornar um vistoriador parceiro
            </h2>
            <p class="pr-lg-5 text-dark mt-4">
                Realize vistorias pelo celular. Visualize sua agenda pelo aplicativo e defina sua rota diária. Quanto mais vistorias realizar, maior será a sua renda
            </p>

            <button class="btn btn-see-surveyor-desktop w-100 my-5">Quero ser um vistoriador Imoveistock</button>
           
        </div>
    </div>
</section>