<section class="container-fluid d-flex bg-light justify-content-center space-footer">
  <div class="row container">
    <div class="col-12 pb-5">
      <img (click)="goTop()" src="../../../assets/logo/logo.png"/>
    </div>
    <div class="col-lg-3 d-grid col-md-6">
      <span class="font-weight-bold">Sobre nós</span>
      <p class="mt-4">Quem somos</p>
      <a href="#commom-question" class="mt-3 text-dark">Dúvidas frequentes</a>
    </div>
    <div class="col-lg-3 d-grid col-md-6">
      <span class="font-weight-bold">Nossos canais</span>

      <a href="https://indike.imoveistock.com.br/" class="mt-3 text-dark">Indique um imóvel</a>
      <a href="https://proprietarios.imoveistock.com.br/" class="mt-3 text-dark">Proprietário</a>
      <a href="https://corretores.imoveistock.com.br/" class="mt-3 text-dark">Corretagem</a>
      <a href="http://fotografos.imoveistock.com.br/" class="mt-3 text-dark">Fotógrafo</a>
      <a href="https://vistoriadores.imoveistock.com.br/" class="mt-4 text-dark">Vistoriador</a>
    </div>
    <div class="col-lg-3 col-md-6">
      <span class="font-weight-bold">Fale com a gente</span>
      <p class="mt-4">contato@imoveistock.com
      </p>
      <p class="mt-3">(41) 98721-2409</p>
    </div>
    <div class="col-lg-3 col-md-6 web-footer pb-5">
      <span class="font-weight-bold">Siga nossas redes</span>
      <div class="d-flex mt-4">
        <a href="https://www.facebook.com/imoveistock"><img src="../../../assets/icons/facebook.svg" height="30" style="cursor: pointer;"></a>
        <a href="https://www.instagram.com/imoveistock"><img src="../../../assets/icons/instagram-logo.svg" height="30" class="ml-3" style="cursor: pointer;"></a>
        <a href="https://www.linkedin.com/company/imoveistock/"><img src="../../../assets/icons/linkedin.svg" height="30" class="ml-3" style="cursor: pointer;"></a>
        <a href="https://youtube.com/@imoveistock5198"><img src="../../../assets/icons/youtube-logotype.svg" height="30" class="ml-3" style="cursor: pointer;"></a>
      </div>
    </div>
    <div class="div-line-footer"></div>
    <div class="col-lg-3">
      <p class="my-lg-4 mt-3">Política de privacidade</p>
    </div>
    <div class="col-lg-3">
      <p class="my-lg-4 mt-3">Termos e condições de uso</p>
    </div>
    <div class="col-lg-3">
      <p class="my-lg-4 mt-3">Políticas de cookies</p>
    </div>
    <div class="col-lg-3 d-flex justify-content-between">
      <img src="../../../assets/icons/top.png" (click)="goTop()" class="h-fit logo-footer" style="display:none;"/>
    </div>
    <div class="col-lg-3 col-md-6 logo-footer pb-5" style="display:none;">
      <span class="font-weight-bold">Siga nossas redes</span>
      <div class="d-flex mt-4">
        <a href="https://www.facebook.com/imoveistock"><img src="../../../assets/icons/facebook.svg" height="30" style="cursor: pointer;"></a>
        <a href="https://www.instagram.com/imoveistock"><img src="../../../assets/icons/instagram-logo.svg" height="30" class="ml-3" style="cursor: pointer;"></a>
        <a href="https://www.linkedin.com/company/imoveistock/"><img src="../../../assets/icons/linkedin.svg" height="30" class="ml-3" style="cursor: pointer;"></a>
        <a href="https://youtube.com/@imoveistock5198"><img src="../../../assets/icons/youtube-logotype.svg" height="30" class="ml-3" style="cursor: pointer;"></a>
      </div>
    </div>
    <div class="col-lg-5 col-full">
      <p class="my-lg-4 mt-3 col-text-center text-right text-muted">{{year}} - Imoveistock Tecnologia e Negócios LTDA.</p>
    </div>
  </div>
</section>
