<section class="container-fluid" style="margin-top: 100px !important;">
    <div class="pl-5">
        <h2>Como anunciar</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-3 mt-3 mr-lg-3 card p-3">
            <div class="d-flex flex-column">
                <img src="../../../assets/icons/sofa.png" width="30">
                <h4 class="mt-2">Como anunciar</h4>
                <div class="div-advertise-custom1 mt-4 d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-column">
                        <h5>Para alugar</h5>
                        <span>Benefícios, taxas, proteção e mais</span>
                    </div>
                    <i class="bi bi-arrow-right" style="font-size: 45px;"></i>
                </div>

                <div class="div-advertise-custom1 mt-2 d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-column">
                        <h5>Para alugar</h5>
                        <span>Benefícios, taxas, proteção e mais</span>
                    </div>
                    <i class="bi bi-arrow-right" style="font-size: 45px;"></i>
                </div>

                <div class="div-advertise-custom1 mt-2 d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-column">
                        <h5>Para alugar</h5>
                        <span>Benefícios, taxas, proteção e mais</span>
                    </div>
                    <i class="bi bi-arrow-right" style="font-size: 45px;"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mr-lg-3 mt-3 card p-3">
            <i class="bi bi-receipt" style="font-size: 25px;"></i>
            <h4>Sobre o anúncio</h4>
            <div class="div-advertise-custom2 mt-4 d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h5>Horário de visitas</h5>
                    <span>Entenda a agenda de hórarios</span>
                </div>
                <i class="bi bi-arrow-right" style="font-size: 45px;"></i>
            </div>

            <div class="div-advertise-custom2 mt-2 d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h5>Sobre as propostas</h5>
                    <span>Como funciona para negociar</span>
                </div>
                <i class="bi bi-arrow-right" style="font-size: 45px;"></i>
            </div>

            <div class="div-advertise-custom2 mt-2 d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h5>Documentação</h5>
                    <span>Como deixar tudo preparado</span>
                </div>
                <i class="bi bi-arrow-right" style="font-size: 45px;"></i>
            </div>
            <div class="div-advertise-custom2 mt-2 d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h5>Contratto digital</h5>
                    <span>Assine tudo online com segurança</span>
                </div>
                <i class="bi bi-arrow-right" style="font-size: 45px;"></i>
            </div>
        </div>
        <div class="col-lg-3 card p-3 mt-3">
            <i class="bi bi-wallet2" style="font-size: 25px;"></i>
            <h4>Serviços adicionais</h4>
            <div class="div-advertise-custom3 mt-2 d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h5>Documentação</h5>
                    <span>Como deixar tudo preparado</span>
                </div>
                <i class="bi bi-arrow-right" style="font-size: 45px;"></i>
            </div>
            <div class="div-advertise-custom3 mt-2 d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h5>Contratto digital</h5>
                    <span>Assine tudo online com segurança</span>
                </div>
                <i class="bi bi-arrow-right" style="font-size: 45px;"></i>
            </div>
        </div>
    </div>
</section>